if command -v mise &> /dev/null; then
  eval "$(mise activate zsh)"
fi

if command -v fzf &> /dev/null; then
  if [[ -f /usr/share/fzf/key-bindings.zsh ]]; then
    source /usr/share/fzf/key-bindings.zsh
  fi
fi

{{ if .is_linux }}
source "$HOME/.local/share/zsh/completions.zsh"
{{ else }}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end }}
