[user]
    name = onlychen120
    email = chennanxing@proton.me
{{ if .is_linux }}
    signingkey = /home/onlychen/.ssh/github.pub
{{ else }}
    signingkey = /Users/nanxingchen/.ssh/github.pub
{{ end }}
[init]
	defaultBranch = main
[pull]
	rebase = true 			 # Rebase (instead of merge) on pull
[push]
	autoSetupRemote = true   # Automatically set upstream branch on push
[core]
    editor = nvim --clean
[diff]
	algorithm = histogram    # Clearer diffs on moved/edited lines
	colorMoved = plain       # Highlight moved blocks in diffs
	mnemonicPrefix = true    # More intuitive refs in diff output
[commit]
    gpgsign = true
	verbose = true           # Include diff comment in commit message template
[url "ssh://git@github.com"]
    insteadOf = https://github.com/
[column]
	ui = auto 			     # Output in columns when possible
[gpg]
    format = ssh
[branch]
	sort = -committerdate    # Sort branches by most recent commit first
[tag]
	sort = -version:refname  # Sort version numbers as you would expect
[rerere]
	enabled = true           # Record and reuse conflict resolutions
	autoupdate = true        # Apply stored conflict resolutions automatically
[alias]
    co = checkout
    br = branch
    cm = commit -m
    st = status
    lg = log --graph --pretty=format:'%Cred&h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
